/* =================================
  Base Styles
==================================== */

* {
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-width: 1100px;
}

.clearfix:before,
.clearfix:after {
	content:"";
	display: block;
}
.clearfix:after {
	clear: both;
}
.section-title {
  font-size: 30px;
  font-weight: 400;
  color: #FFF;
  text-transform: uppercase;
  padding: 50px 20px;
  text-align: center;
}

.container {
  position: relative;
  max-width: 1100px;
  margin: auto;
}
.hero-btn, .ourwork-nav-btn, .ourteam-btn {
  background: none;
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.hero-btn:hover, .hero-btn.active, .ourwork-nav-btn:hover, .ourwork-nav-btn.active, .ourteam-btn:hover, .ourteam-btn.active {
  background-color: #FFF;
}
/* =================================
  HEADER
==================================== */


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(211, 53, 35, 0.9);
  z-index: 9999;
  line-height: 65px;
}

.header-logo-text {
	font-size: 14px;
	font-weight: lighter;
	color: #fff;
	margin:0;
}
 .header-logo {
	 float: left;
	 width: 70px;
	 height: 70px;
	 margin: 0;
	 padding: 10px 5px 10px 0px;
 }

.header-nav {
  float: right;
	margin: 0;
}
.header-logo,
.header-logo-text,
.header-nav {
	display: inline-block;
}
.header-nav-link {
 float: left;
 padding: 0 10px;
 margin: 0;
 border-top: 5px solid transparent;
 color: #FFF;
}
.header-nav-link:hover, .header-nav-link.active {
 border-color: rgba(255, 255, 255, 0.5);
}


/* =================================
  HERO
==================================== */


.hero {
  position: relative;
  background-image: url("images/background_red.svg");
  background-size: cover;
  text-align: center;
  padding: 100px 50px 40px;
}
.hero-content {
  width: 940px;
   margin: auto;
   text-align: center;
   color: #FFF;
}
.hero-img {
  width: 100%;
}
.hero-text {
  font-size: 20px;
  line-height: 1.6;
  margin: 50px auto;
}
.hero-soc-link {
  font-size: 28px;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.5);
}
.hero-soc-link:hover, .hero-soc-link.active {
  color: rgba(255, 255, 255, 0.8);
}

.hero-page-nav {
  position: absolute;
  right: 0;
  top: 50%;
}

.hero-page-btn {
  display: block;
  margin: 8px auto;
}

/* =================================
  SERVICES
==================================== */


.services  {
  position: relative;
    background-color: #d33523;
}
.services .container {
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
  color: #FFF;
}
.services-main-title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.services-list {
  width: 25%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.service-name {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.services-text {
  font-size: 16px;
  line-height: 1.5;
}

/* =================================
  OUR WORK GALLERY
	==================================== */

.ourwork {
  background-image: url("images/background_green.svg");
  background-size: cover;
  position: relative;
}
.ourwork .container {
  padding-top: 70px;
  text-align: center;
  color: #FFF;
}
.ourwork-title {
font-size: 30px;
font-weight: 400;
text-transform: uppercase;
padding-bottom: 25px;
}
.container .ourwork-text {
font-size: 20px;
line-height: 1.5;
opacity: 0.7;
font-weight: lighter;
font-family: "Roboto" sans-serif;
}
.ourwork-nav {
  margin-top: 40px;
  padding-bottom: 30px;
}

.ourwork-nav-link {
  background: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 6px 13px;
  margin: auto 40px;
  text-transform: uppercase;
  color: #FFF;
}
.ourwork-nav-link:hover, .ourwork-nav-link.active {
  border-color: #FFF;
}
.ourwork-nav {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ourwork-nav-btn {
  margin-left: 8px;
  margin-right: 8px;
}
.ourwork-gallery {
  color: #FFF;
  position: relative;
  font-size: 14px;
  width: 25%;
  float: left;
  background-color: #57aa68;
}

.ourwork-link {
  color: #FFF;
}

.ourwork-gallery:hover .ourwork-picture {
  opacity: 0.2;
}
.ourwork-gallery:hover .ourwork-gallery-hover {
  visibility: visible;
}
.ourwork-picture {
  width: 100%;
  display: block;
}

.ourwork-gallery-hover {
  position: absolute;
  visibility: hidden;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.ourwork-gallery-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 33px;
  margin-bottom: 8px;
}

	/* =================================
	  COST TABLE
	==================================== */
.cost {
	background-image: url("images/background_green.svg");
	position: relative;
	background-size: cover;
  text-align: center;
}
.overlay {
  background-color: rgba(87, 170, 104, 0.4);
}

.cost .container {
  padding-top: 70px;
  color: #FFF;
}
.cost-title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.cost-table-container {
  background-color: #2a5759;
}
.cost-table {
  border-collapse: collapse;
  margin: auto;
}
.cost-table-title th {
  padding-top: 45px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 25%;
  color: #FFF;
  border-bottom: 1px solid #437c7e;
  padding-bottom: 30px;
}
.cost-table-row td {
  color: #8dbec0;
  font-size: 16px;
  border-bottom: 1px solid #437c7e;
  padding: 20px 20px;
}
.cost-table-prices td {
  font-size: 32px;
  font-weight: 400;
  color: #FFF;
}
th.highlighted, td.highlighted {
  background-color: #316769;
  color: #FFF;
}
.cost-table-btn {
  background: none;
  cursor: pointer;
  border: 1px solid #FFF;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  padding: 13px 39px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cost-table-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


	/* =================================
	  OUR TEAM
	==================================== */

.ourteam {
  position: relative;
  background-color: #57aa68;
}

.ourteam .container {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  color: #FFF;
}

.ourteam-title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.ourteam-text {
  font-size: 20px;
  line-height: 1.5;
}
.ourteam-people {
  width: 25%;
  float: left;
  padding-bottom: 20px;
}
.ourteam-people-photo {
  width: 100%;
  max-width: 260px;
  max-height: 290px;
}
.ourteam-nav-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}
.ourteam-btn {
  margin-left: 8px;
  margin-right: 8px;
}
.ourteam-people-name {
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}
.ourteam-people-ocupation {
  font-size: 13px;
  font-weight: 400;
  margin-top: 15px;
  opacity: 0.8;
}
.ourteam-people-info {
  position: relative;
}
.ourteam-people-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  text-align: center;
  visibility: hidden;
}
.ourteam-people-info:hover .ourteam-people-photo  {
  opacity: 0.2;
}
.ourteam-people-info:hover .ourteam-people-hover{
  visibility: visible;
}
.ourteam-people-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  text-align: center;
  visibility: hidden;
}
.ourteam-people-title {
  font-size: 18px;
  font-weight: 400;
}
.ourteam-people-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.ourteam-media-icons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
.ourteam-media-icons-link {
  font-size: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.3);
}
.ourteam-media-icons-link:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* =================================
  CONTACT
==================================== */
.contact {
  position: relative;
  background-image: url("images/background_blue.svg");
  background-size: cover;
  padding: 0 20px;
}

.contact .container {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  color: #FFF;
}

.contact-title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.contact-form {
  max-width: 620px;
  margin: auto;
}

.contact-name, .contact-email, .contact-question {
  width: 100%;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(46, 45, 107, 0.7);
  border: none;
  border-radius: 5px;
  color: #FFF;
}

.contact-question {
height: 230px;
resize: none;
}
.contact-submit-btn {
  background-color: transparent;
  width: 100%;
  border: 1px solid #FFF;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  color: #FFF;
  padding: 10px;
}
.contact-address {
  text-align: center;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  padding: 40px 0;
}

/* =================================
MAP
==================================== */

.map iframe {
	width: 100%;
	height: 500px;
	border: none;
}
/* =================================
FOOTER
==================================== */

.map, .footer {
  background-color: #2e2d6b;
}

.footer {
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  padding: 15px;
}
/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.name,
	.logo,
	.main-nav,
	.main-nav li {
		display: inline-block;
	}

	.graphic-design,
	.poligraphy,
	.uiux-design,
	.video-editing {
		display: inline-block;
		width: 290px;
	}
