/* =================================
  Base Styles
==================================== */

* {
	box-sizing: content-box;
	line-height: 24px
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.clearfix:before,
.clearfix::after {
	content:"";
	display: block;
}
.clearfix::after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* =================================
  HEADER
==================================== */




.main-header {
  background-size: cover;
  background-color: rgba(211, 53, 35, 0.6);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  color: #fff;
	height: 70px;
}
.main-nav {
	padding: 0px 5px 10px 5px;
	float: right;
	font-weight: lighter;
	position: relative;
	top: -15px;
}

.main-header h1{
	font-size: 14px;
	font-weight: lighter;
	padding-top: 15px;
	padding-left: 10px;
}
 .main-header img {
	 float: left;
	 padding-top: 5px;
	 padding-left: 40px;
 }

header a {
  color: #fff;
	position: relative;

}
header li {
	position: relative;
	padding: 20px 10px 20px 10px;
	border-top: 5px solid transparent;
}

.main-header li:hover {
 border-color: rgba(255, 255, 255, 0.5);
}

.name,
.logo,
.main-nav {
	display: inline-block;;
}

/* =================================
  HERO
==================================== */


.hero {
  background-image: url("images/background_red.jpg");
  background-size: cover;
  text-align: center;
  color: #fff;
	padding: 90px 200px 30px 200px;
	height: 500px;
}
.hero a {
  text-decoration: none;
	padding-right: 30px;
	padding-bottom: 30px;

}
.hero p {
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: lighter;
}


.hero-nav .hero-button {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px;
  padding: 0;
  background-color: transparent;
}
.hero-nav .hero-button:hover, .hero-nav .active{
  background-color: #FFF;
}

.hero-nav {
	position: absolute;
	top: 250px;
	left: 1300px;
}

/* =================================
  SERVICES
==================================== */


.services  {
  background-color: #d33523;
  padding-top: 10px;
  padding-bottom: 70px;
  color: #fff;
  text-align: center;
  font-family: "Myriad Pro", sans-serif;
	position: relative;
	height: 500px;
}

.services h3 {
		font-size: 28px;
		font-weight: lighter;
		padding:30px 0px 30px 0px;
}

.allservices {
  background-color: #d33523;
  text-align: center;
  font-weight: normal;
	font-size: 18px;
  font-weight: lighter;
}
				.graphic-design,
				.poligraphy,
				.uiux-design,
				.video-editing {
					display: inline-block;
					width: 230px;
					height: 340px;
					padding-right: 30px;
					float: right;
					font-weight: lighter;
					position: relative;
				}

/* =================================
  OUR WORK GALLERY
	==================================== */

.our-work {
  background-image: url("images/background_green.jpg");
  background-size: cover;
  text-align: center;
  color: #fff;
	height: 890px;
}

		.our-work-text h3{
			font-size: 30px;
		  font-weight: lighter;
		}
		.our-work-navigation a {
			padding: 0 25px;
			text-align: center;
		}
.our-work-text p{
  padding-left: 150px;
  padding-right: 150px;
	padding-bottom: 10px;
  font-weight: lighter;
  font-size: 18px;
  font-family: "Roboto",sans-serif;
}

.our-work div {
  padding-bottom: 10px;
  padding-top: 20px;
}
.our-work a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto",sans-serif;
}

.our-work a:hover{
 border:2px solid #fff;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}
.our-work h3 {
  font-size: 28px;
	font-weight: lighter;
}
.our-work-nav .our-work-button {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px;
  padding: 0;
  background-color: transparent;
}
.our-work-nav .our-work-button:hover, .our-work-nav .active{
  background-color: #FFF;
}



	.our-work-gallery {
		margin: 0px;
		padding: 0px;
		margin-right: -1px;
	}

.picture h4 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding-top: 20px;
	margin: 0;
}
.picture h5 {
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
	font-size: 14px;
	margin: 0;

}
	.picture {
		float: left;
		width: 25%;
		margin-right: -1px;
		margin-top: -35px;
		position: relative;
	}
	.picture .picture-text img {
		width: 50px;
		height: 50px;
		padding-top: 65px;
	}

	.picture-hover {
		position: absolute;
		background-color: rgba(87,170,104,.7);
		width: 100%;
		height: 286px;
		margin-top: -1px;
		visibility: hidden;
	}


.picture:hover .picture-hover {
	visibility: visible;
	cursor: pointer;
}

	.picture img {
		width: 100%;
		height: 100%;
		margin:-1px;
	}

	/* =================================
	  COST TABLE
	==================================== */
.cost {
	background-image: url("images/background_green.jpg");
	color: #fff;
	text-align: center;
	background-size: cover;
	padding-top: 10px;
	height: 780px;

}
.cost h2 {
	padding: 110px 0px 60px 0px;
	font-size: 28px;
	font-weight: lighter;
}
.cost-nav {
	padding-bottom: 30px;
}
.cost-nav a{
	text-decoration: none;
	padding: 0px 20px 0px 20px;
	color: #fff;
}
.cost-nav a:hover{
 border:2px solid #fff;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
    padding: 5px;
}


.price-table-container {
  background-color: #2a5759;

}
.price-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80vw;
}
.price-table td,
.price-table th {
  border-bottom: 1px solid #a2d5d7;
  vertical-align: middle;
  width: 25%;
  color: #fff;
  text-align: center;
}
.price-table th {
  text-transform: uppercase;
	padding: 30px 0px 30px 0px;
	font-size: 20px;
	font-weight: normal;
}
.price-table td{
	padding: 20px 0px 20px 0px;
	font-weight: lighter;
	font-size: 16px;
	color: #a2d5d7;
}
.highlighted {
   background: rgba(49, 103, 105, .5)
}

.cost-table-prices td{
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    padding: 30px 0px 30px 0px;
}
.price-table tfoot td {
	border: 0px;
}
.cost-table-price td {
	font-size: 25px;
	font-weight: normal;
}
.price-table button {
	background: none;
	border:1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 40px 10px 40px;
	color: #fff;
	text-transform: uppercase;
}
.price-table button:hover {
	background-color: rgba(71, 133, 135, 0.5);
}


	/* =================================
	  OUR TEAM
	==================================== */

.ourteam {
  background-color: #57aa68;
  text-align: center;
  background-size:auto;
  color: #fff;
	padding: 10px 0px 28px 0px;
  font-family: "Roboto",sans-serif;
	height: 650px;
}

.ourteam h3{
	font-size: 28px;
	font-weight: lighter;
}

.ourteam p {
  padding-left: 50px;
  padding-right: 50px;
}
.ourteam-navigation .ourteam-button {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px;
  padding: 0;
  background-color: transparent;
}
.ourteam-navigation .ourteam-button:hover, .ourteam-navigation .active{
  background-color: #FFF;
}

.ourteam-people {
	display: inline-block;
	padding: 50px 50px 0px 0px;
	position: relative;
}

.people-hover {
	position: absolute;
	background-color: rgba(87,170,104,.7);
	width: 270px;
	height: 300px;
	visibility: hidden;
}
.ourteam-people:hover .people-hover {
	visibility: visible;
	cursor: pointer;
}
.people-text p{
	font-weight: lighter;
	font-size: 16px;
	padding: 10px;
}
.media-icons i {
	color: #f9dbd6;
	background-color: rgba(53,82,59,.7);
	padding: 5px;
}


.ourteam-people h4 {
  font-family: "Roboto",sans-serif;
  font-size: 18px;
  font-weight: normal;
	margin:0;
	padding-top: 10px;
}
.ourteam-people h5 {
  font-family: "Roboto",sans-serif;
  font-size: 13px;
  font-weight: normal;
	margin:0;
	padding-bottom: 20px;
}

/* =================================
  CONTACT
==================================== */
.contact {
background-image: url("images/background_blue.jpg");
background-size: cover;
text-align: center;
color: #fff;
font-size: 28px;
font-weight: normal;
font-family: "Roboto",sans-serif;
padding-bottom: 5px;
padding-top: 10px;
height: 750px;
}

.contact h3 {
		font-size: 28px;
		font-weight: lighter;
	}

ul {
    list-style-type: none;
}

form {
	padding: 20px 0;
	position: relative;
}
	input,
	textarea
 {
		display: block;
		appearance: none;
		outline: 0;
		border: none;
		background-color: rgba(46, 45, 107, 0.5);
		width: 620px;
		padding: 10px 15px;
		margin: 0 auto 10px auto;
		display: block;
		font-size: 13px;
    font-weight: normal;
		box-sizing: content-box;
		color: #fff;
		-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	}

	.contact .button {
		background: none;
		border:1px solid #fff;
	}

	button:hover {
		background-color: rgba(46, 45, 107, 0.5);
	}


.contact p {
  text-align: center;
  font-size: 21px;
  font-weight: lighter;
  font-family: "Roboto",sans-serif;
}

.map iframe {
	width: 100%;
	height: 500px;
	border: none;
}
/* =================================
FOOTER
==================================== */

footer {
  padding-top: 5px;
  background-color: #2e2d6b;
  text-align: center;
  font-size: 13px;
  font-family: "Muriad Pro",sans-serif;
  font-weight: normal;
  color: #fff;
}
/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.name,
	.logo,
	.main-nav,
	.main-nav li {
		display: inline-block;
	}

	.graphic-design,
	.poligraphy,
	.uiux-design,
	.video-editing {
		display: inline-block;
		width: 290px;
	}
